body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
    background-color: orange;
    width:100%;
    margin: 0;
    padding: 0;
}
#about-li{
    float:right;
}
li{
    display:inline-block;
}
li a{
    text-decoration: none;
    color:white;
    padding: 15px 20px;
    display: block;
}
li a:hover{
    background-color:rgba(17, 75, 182, 0.767);
}
section{
    display: flex;
}
.big-heading{
    font-size: 60px;
    font-weight: 700;
}
.orange-text{
    color:orange;
}
.half-width{
    width: 50%;
}
.order-sec-image{
    width:90%;
}
.orange-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 25px;
    border-radius: 30px;
}
.order-div1{
    margin-left: 100px;
    padding-top: 50px;
}
.about-div2{
    margin:50px 60px;
}
.about-section{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}
.section-img2{
    margin:50px 0 0 200px;
}
.myrecipies-title{
    text-align: center;
    width: 60%;
    margin:0 auto;
}
.recipie-div{
    margin:20px 5% 80px;
    border: 15px solid white;
    border-radius: 25px;
    box-shadow: 10px 10px 40px 5px gray;

}
.first-paragraph{
    padding-bottom: 15px;
}
.recipie-card-holder{
    display: flex;
    width:80%;
    margin:0 auto;
}
img.recipie{
    width: 100%;
}
.gray-text{
    color:gray;
}
.social-section{
    width: 75%;
    margin:0 auto;
    margin-bottom: 50px;
    box-shadow: 5px 5px 20px 5px gray;
    border-radius: 20px;
    text-align: center;
}
.showcase{
    width:30%;
}
footer{
    text-align: center;
    color:white;
    background-color: black;
    height: 150px;
    padding-top: 20px;
}